<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  function addField(){
  var container = document.getElementById("container");
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
          
                
                var input = document.createElement("input");
                input.type = "text";
                input.class="form-control";
                input.placeholder="Enter Option";
                input.style="width:100%";
                var btn = document.createElement("BUTTON");
               var t = document.createTextNode("CLICK ME");
               btn.appendChild(t);
               input.appendChild(btn);
                container.appendChild(input);               
                container.appendChild(document.createElement("br"));
            
  }
  </script>
</head>
<body>

	<div class="container-fluid">
		<h1>Survey Form</h1>
		<p>Resize the browser window to see the effect.</p>
		<p>The columns will automatically stack on top of each other when
			the screen is less than 768px wide.</p>
		<div class="row">
			<div class="col-sm-3" style="padding: 0px;">
				<input type="text" class="form-control" id="questionName"
					placeholder="Enter Question Name" name="surveyName">
			</div>
			<div class="col-sm-3" style="padding: 0px;">
				<select class="form-control" id="sel1"
					onchange="javascript:addField()">
					<option>Question Type</option>
					<option>Descriptive</option>
					<option>Poll Type</option>
				</select>
			</div>
		</div>
		<div class="row" style="margin-top: 10px; width: 80%">
			<div class="col-sm-6" id="container" style="padding: 0px;"></div>
		</div>
	</div>
</body>
</html>
